venv/
.idea/
bin/

Dockerfile
docker-compose.yaml

__pycache__/
migrations/__pycache__/
*.py[cod]
../../.DS_Store
.DS_Store

media/
node_modules

backend/travel_itinerary_app/users/adapters.py
backend/travel_itinerary_app/.env